.example-container mat-form-field + mat-form-field {
    margin-left: 8px;

  }
  
  .example-container mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 12px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }
  
  .example-form-fields {
    display: flex;
    align-items: flex-start;
  }
  
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  