
<body>
<div class="nav_container">
	<div >
	  <img  [src]="api.imgRoute+'logo'+'.png'">
	</div>
	<div class="menu">
	  <ul>
		<li >
			<a routerLink="./Home">Home</a>
		</li>
		<li >
			<a routerLink="LogIn">
				Login
			</a>
		</li>
		<li >
			<a routerLink="./SignIn/new">Register</a>
		</li>

		<li >
			<a routerLink="AllTrips">
				AllTrips
			</a>
		</li> 
		<li *ngIf="this.api.CurrentUser.userCode && !this.api.isAdmin">
			<a routerLink="PersonalArea">
				{{this.api.CurrentUser.firstName}}
			</a>
		</li> 
		<li  *ngIf="this.api.isAdmin">
			<a routerLink="Users">
				AllUsers
			</a>
		</li> 
	  </ul>
	</div>
	</div>
	<router-outlet></router-outlet>   
</body>
<br>


