<br>
<mat-form-field>
  <mat-label>Trip Type</mat-label>
  <mat-select name="selectedType" [(ngModel)]="selectedType" (selectionChange)="filter(selectedType)">
    <mat-option  *ngFor="let t of this.ts.AllTypes" [value]="t.typeCode">{{t.typeCode}}:{{t.typeName}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field *ngIf="this.a.isAdmin">
  <mat-label>timing</mat-label>
  <mat-select name="selectedTime" [(ngModel)]="selectedTime" (selectionChange)="filterTime()">
      <mat-option *ngFor="let t of this.allTimes" [value]="t">{{t}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<button class="button" mat-fab extended color="primary"*ngIf="this.a.isAdmin" (click)="add(-1)">
  new trip
</button>

<div class="div" *ngFor="let t of this.ts.FilterTrip">
<div *ngIf="(selectedType==0 || selectedType==t.typeCode)" >
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Destination: {{t.tripDestination}}</mat-card-title>
      <mat-card-subtitle>At: {{t.tripDate | date:'dd MMMM yyyy'}}</mat-card-subtitle>
      <mat-card-subtitle>Price: {{t.price}}</mat-card-subtitle>
      <mat-card-subtitle>typeCode: {{t.typeCode}}</mat-card-subtitle>
      
    </mat-card-header>
    <img class="img" [src]="a.imgRoute+t.photo+'.jpg'">
    <mat-card-actions>
      <p *ngIf="this.a.isAdmin && t.isFirstAid==false" >noFirstAid</p>

      <button (click)="send(t.tripCode!)" *ngIf="futureTrip(t.tripDate)==true"  mat-button>details</button>
      <button mat-button *ngIf="this.a.isAdmin"(click)="add(t.tripCode!)">edit</button>    
      <button *ngIf="this.a.isAdmin" mat-button (click)="orders(t.tripCode!)">bookingPlaces</button>   

    </mat-card-actions>
  </mat-card>
</div>
</div>

